{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends '@EasyAdminPopup/base_modal.html.twig' %}

{% form_theme form with easyadmin_config('design.form_theme') %}

{% block content %}
    {% block main %}
        {{ 'action.delete.confirm'|trans }}
        {% block entity_form %}
            {{ form(form) }}
            <div class="form-group" style="height: 30px;">
                <div id="form-actions-row">
                    <div class='pull-right'>
                        <button type="submit" class="btn btn-delete" onclick="return formModal.postForm()">
                            <i class="fa fa-save"></i> {{ 'action.delete'|trans(_trans_parameters, 'messages') }}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                    </div>
                </div>
            </div>
        {% endblock entity_form %}
    {% endblock %}

{% endblock %}