{% if value is iterable %}
    <span class="badge">{{ value|length }}</span>
{% elseif link_parameters is defined %}
    {% set _action_href = path('admin', link_parameters) %}
    <a onClick="formModal.init('{{ _action_href }}')">
        {{ value|easyadmin_truncate }}
    </a>
{% else %}
    {{ value|easyadmin_truncate }}
{% endif %}
